* { padding: 0; margin: 0; } 
ul, ol { list-style: none; } 
header { 
 background-color: #eee; 
 height: 100px; 
 position: relative; 
 } 
.logo { 
 position: absolute; 
 left: 50%; 
 top: 75%; 
 transform: translateX(-50%); 
 } 
.container { 
 width: 90%; 
 margin: 0 auto; 

 } 
.alignCon { 
 padding-top: 40px; 
 display: flex; 
 align-items: center; 
 justify-content: center; 
 margin-bottom: 16px; 
 } 
#typeOfNumber { text-align: center; margin-right: 10px; cursor: pointer; } 
#typeOfNumber .opt-wrap { width: 100%; display: flex; align-items: center; justify-content: space-between; } 
#typeOfNumber .opt-wrap .option { border: 1px solid #333; box-sizing: border-box; cursor: pointer; width: 30px; height: 30px; line-height: 30px; margin-right: 10px; } 
#typeOfNumber .opt-wrap .option:hover { 
 background-color: #333; 
 color: #fff; 
 font-weight: 500; 
 } 

#createBtn { padding: 5px 12px; } 
#searchInGg { padding: 5px 12px; } 
#output { font-size: 24px; text-align: center; border: 1px solid orange; box-sizing: border-box; width: 50%; margin: 0 auto; height: 40px; line-height: 40px; margin-bottom: 10px; } 
.pick { 
 outline: 1px solid orangered; 
 width: 50%; 
 margin: 0 auto; 

 } 
.pick h3 { 
 font-size: 16px; 
 text-align: center; 
 margin-bottom: 6px; 
 line-height: 24px; 
 } 
.pick .pick-items { 
 display: flex; 
 flex-wrap: wrap; 
 } 
.pick .pick-items .pick-item { 
 margin-right: 8px; 
 font-size: 18px; 
 line-height: 24px; 
 } 
footer { 
 height: 80px; 
 width: 100%; 
 background-color: #333; 
 position: fixed; 
 bottom: 0; 
 left: 0; 
 } 
